<ion-header [translucent]="true">
  <ion-toolbar >
  <ion-buttons class="bx" >
    <ion-back-button class="bx"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
  <!-- <ion-toolbar color="warning">
    <ion-button (click)="loadMap()" shape="round" color="dark">
      <ion-icon slot="start" name="locate"></ion-icon>
      Where I Am
    </ion-button>
    <ion-title slot="end">Google Map</ion-title>
  </ion-toolbar> -->

</ion-header>

<ion-content [fullscreen]="true">
  <div class="map-wrapper">
    <div id="map_center">
    </div>
    <div #map id="map">
    </div>
  </div>
</ion-content>