#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.text-center {
  text-align: center;
  margin-left: 40%;
}
.button.block {
  display: block;
  width: 200px;    
}

.margin-auto {
  margin: 0 auto;
}
.custom-loader-class{
  --background:#F4B004;
  font-size: 20px;
}
ion-content.background{
  --background: url(../../assets/images/1.jpg) 0 0/100% 100% no-repeat;
}
ion-list {
  --ion-item-background: transparent;
}
.cardconteudo {
  // background: rgba(255,255,255,0.5);
  background:transparent;
}
ion-button {
  font-size:medium;
  padding: 2px;
  // width:50%;
}
